@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500&family=Dancing+Script:wght@500&display=swap');

body {
    font-family: 'Advent Pro', sans-serif;
    padding: 0; /* De base padding et margin pour que rien ne puisse venir poser problème pour les autres éléments dans le body */
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none; /* Pas de style par défaut pour li, par exemple les points */
}

h2{
    text-transform: uppercase; /* Tout éléments h2 en majuscule */
    text-align: center; /* Tout éléments h2 centrer sur la page */
    padding-top: 30px; /* Au dessus des h2, rien sur 30px */
    font-size: 2em; /* Les tailles en em, s'ajuste à la page */
}

a{
    text-decoration: none; /* Va par exemple enlever le soulignement */
    color: black;
}

/* ******************************** NAVBAR ************************************ */
nav{
    overflow: hidden; /* Tout ce qui dépasse sera cachés */
    background-color: #FFFAE1;
    position: fixed; /* Ne bougera pas, ici la NAVBAR restera toujours en haut et suivra le scrollbar de l'utilisateur */
    width: 100%; /* Elle occupera tout le temps, toute la largeur de la page */
    opacity: 0.9; /* Petite transparence */
}

header li{ /* Ne concerne que les li dans le header */
    float: right; /* Flotter à droite */
    font-size: 1.2em;
}

header li a{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px; /* En haut/bas = 18px | à droite/gauche = 16px */
}

#logo{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    float: left;
}

/* ******************************** IMAGE PRINCIPALE ************************************ */
#imagePrincipale{
    padding-top: 60px;
    background: url(media/image-principale.JPG) no-repeat fixed 50% 50%;
    height: 799px;
    background-size: cover; /* Afin de couvSrir tout l'élément */
}

h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: antiquewhite;
    font-size: 6em;
    margin-top: 100px;
    text-shadow: 1px 3px 2px black; /* Tester text shadow simulator sur google */
}

#premierTrait{
    height: 1px;
    width: 25%;
    margin: -3px auto; /* Auto ça centre */
    background-color: #FFFAE1;
    box-shadow: 1px 3px 2px black; /* Pas un texte mais un trait */
}

h3{
    text-align: center;
    color: antiquewhite;
    font-size: 3em;
    text-shadow: 1px 3px 2px black;
}

/* ******************************** PRESENTATION ************************************ */
#presentation{
    background-color: #FFFAE1;
    padding: 10px 0px 100px 0px;
}

#texteIntro{
    padding: 0px 20%;
}

#prestation{
    display: flex; /* Alignement des éléments */
    flex-wrap: wrap; /* Enroule */
    justify-content: space-between; /* Se sépare en occupant tout l'espace */
    padding: 30px 10%;
}

.imagesPrestation h4{
    font-family: 'Dancing Script', 'cursive';
    text-align: center;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;
}

.imagesPrestation img{
    border-radius: 10px; /* Tous les cotés, 10 px d'angle */
    box-shadow: 5px 5px 3px 1px;
}

.imagesPrestation img:hover{ /* Action sur image ==> Au survol de la souris sur l'image, applique ... */
    opacity: 0.5;
    transform: scale(1.05); /* Grossit légérement l'image */
    transition: 0.6s ease-in-out; /* Temps transformation image (Lent au début et à la fin) */
}

/* ******************************** TOURISME ************************************ */
#tourisme{
    height: 1400px;
    background-color: #f1f2f6;
    padding: 1px 2%; /* 1px pour faire disparaître l'option par défaut (Qui crée une séparation entre les sections) */
}

#tourisme h2{
    padding-top: 60px;
}

#ocean{
    background: url(media/ocean.jpg) no-repeat;
}

#chateau{
    background: url(media/chateau.JPG) no-repeat;
}

#phare{
    background: url(media/phare.JPG) no-repeat;
}

#vignoble{
    background: url(media/vignes.jpg) no-repeat;
}

#tourisme li {
    margin: 65px 100px 0 100px;
    height: 226px;
    width: 55%; /* Essayer de mettre les width en % pour les différents types d'écrans, la hauteur ne change pas grand chose donc px */
    max-width: 550px;
    float: left;
    box-shadow: 6px 6px 28px -1px;
}

#tourisme p{
    height: 45px;
    width: 235px;
    background-color: #01DF74;
    float: right; /* Quand l'élément flotte il n'a plus aucune valeur sur le layout */
    margin: 50px -180px 0 0;
    font-size: 1.5em;
    text-align: center;
    padding-top: 15px;
    box-shadow: 4px 4px 0 1px;
}

#tourisme #chateau, #tourisme #vignoble{
    float: right;
}

#chateau p, #vignoble p{
    float: left;
    background-color: cyan;
    margin-left: -180px;
}

/* ******************************** FORMULAIRE ************************************ */
footer{
    background-color: #524A3A;
    color: #FFFAE1;
    padding: 20px 0 10px 0;
    text-align: center; /* On aurait pu mettre center dans le body pour simplifier le code */
}

form{
    margin: 0 auto;
    max-width: 900px; /* Empécher que le formulaire s'aggrandisse à l'infini, on met une valeur max */
}

input, textarea, button{
    border: none;
    width: 55%;
    height: 40px;
    padding: 15px 10 px;
    margin: 1px;
    font-size: 1.2em;
    font-family: 'Advent Pro', sans-serif; /* Les placeholder ne prennent pas les font-family du doc */
    border-radius: 8px;
}

textarea{
    height: 120px;
}

button{
    font-size: 1.5em;
    background-color: #FFFAE1;
}

button:hover{
    background-color: #e55039;
    color: #FFFAE1;
    cursor: pointer; /* Pour signifier que le bouton est cliquable */
    transition: 0.3s ease-in-out;
}

#deuxiemeTrait{
    height: 1px;
    width: 75%;
    background-color: #FFFAE1;
    margin: 60px auto;
}

#copyrightEtIcons{
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;
}